;; shadow-cljs configuration
{:source-paths ["src"]                                      ;;these will be ignored in favor of deps.edn path
 :dev-http {8081 "public"}
 :deps          true
 :builds {:app { :target		:browser
                :output-dir	"public/scripts/"
                :modules	{:core {:init-fn com.ghufran.core/main}}}}}