;; shadow-cljs configuration
{:source-paths ["src"]
 :dev-http     {8081 "public"}
 :nrepl        {:port 55555}
 :dependencies [[thheller/shadow-cljsjs "0.0.21"]
                [reagent "1.0.0-alpha2"]
                [devcards "0.2.6"]

                ]
 :builds       {:app      {:target     :browser
                           :output-dir "public/scripts/"
                           :asset-path "/scripts/"
                           :modules    {:core
                                        {:init-fn com.ghufran.core/run}}
                           }

                :devcards {:target           :browser
                           :output-dir       "public/scripts/"
                           :asset-path       "/scripts"
                           :modules          {:devcards
                                              {:init-fn com.ghufran.devcards/run}}
                           :compiler-options {:devcards true}

                           }

                :counter  {:target     :browser
                           :output-dir "public/scripts/"
                           :asset-path "/scripts/"
                           :modules    {:counter
                                        {:init-fn com.ghufran.playground.counter/run}}}
                :visible  {:target     :browser
                           :output-dir "public/scripts/"
                           :asset-path "/scripts/"
                           :modules    {:counter
                                        {:init-fn com.ghufran.playground.visible/run}}}}}